/* ------------------------------------*\
    $DISPLAY STATES
\*------------------------------------ */

.u-display--inline-block {
  display: inline-block;
}

.u-display--block {
  display: block;
}

.u-flex {
  display: flex;
}

.u-justify-content--nr-space-between {
  justify-content: space-between;
}

.u-justify-content--flex-end {
  justify-content: flex-end;
}

.u-justify-content--center {
  justify-content: center;
}

.u-justify-items--center {
  justify-items: center;
}

.u-align-items--center {
  align-items: center;
}

.u-align-items--start {
  align-items: flex-start;
}

.u-flex-directon--column {
  flex-direction: column;
}

/* Specific Widths - visible greater than # */
.u-hide-until--sm {
  @include media("<=small") {
    display: none !important;
  }
}

.u-hide-until--md {
  @include media("<=medium") {
    display: none !important;
  }
}

.u-hide-until--lg {
  @include media("<=large") {
    display: none !important;
  }
}

.u-hide-until--xl {
  @include media("<=xlarge") {
    display: none !important;
  }
}

/* Specific Widths - hide greater than # */
.u-hide-after--sm {
  @include media(">small") {
    display: none !important;
  }
}

.u-hide-after--md {
  @include media(">medium") {
    display: none !important;
  }
}

.u-hide-after--lg {
  @include media(">large") {
    display: none !important;
  }
}

.u-hide-after--xl {
  @include media(">xlarge") {
    display: none !important;
  }
}
