/* ------------------------------------ *\
  $FEEDS
\* ------------------------------------ */

.c-card-grid {
  margin-top: 0;
}

.c-post-grid {
  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--nr-space-lg);
  }

  &__content {
    .c-posts {
      display: grid;
      gap: var(--nr-space-lg);
      grid-template-columns: repeat(1, 1fr);

      @include media(">small") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media(">medium") {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media(">large") {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .has-sidebar {
    .c-post-grid__content {
      .c-posts {
        @include media(">large") {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

.c-filter {
  background-color: var(--nr-color-body-background);

  &__header {
    cursor: pointer;
    padding-bottom: var(--nr-space);
    border-bottom: var(--nr-border-width) solid var(--nr-color-border-default-weak);
    position: relative;

    &::after {
      @include o-typography-body--sm;

      display: block;
      width: auto;
      height: auto ;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: var(--nr-color-content-default-weak);
      content: "+ Expand";

      @include media(">large") {
        content: "- Collapse";
      }
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all var(--nr-animation-duration) ease-in-out;
    padding-top: var(--nr-space);

    @include media(">large") {
      max-height: 100vh;
      opacity: 1;
      overflow: unset;
    }

    > *:not(:first-child) {
      margin-top: var(--nr-space-sm);
      padding-top: var(--nr-space-sm);
      border-top: var(--nr-border-width) solid var(--nr-color-border-default-weak);
    }
  }

  &.this-is-active {
    .c-filter__header::after {
      content: "- Collapse";

      @include media(">large") {
        content: "+ Expand";
      }
    }

    .c-filter__content {
      max-height: 100vh;
      opacity: 1;
      overflow: unset;
      transition: all var(--nr-animation-duration) ease-in-out;

      @include media(">large") {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }
  }
}

.c-latest-posts {
  &__content {
    padding-bottom: 0;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    gap: var(--nr-space-lg);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--nr-space-lg);

    p:empty {
      display: none;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  .c-block {
    &__content {
      padding-bottom: var(--nr-space);
      border-bottom: var(--nr-border-width) solid var(--nr-color-border-default-weak);
      flex: 1;
    }

    &__arrow {
      display: none;
    }
  }

  &--feed {
    .c-block {
      @include media(">medium") {
        flex-direction: row;

        &__image {
          min-width: var(--nr-layout-width-sidebar);
          max-width: var(--nr-layout-width-sidebar);
        }
      }

      &__meta {
        justify-content: flex-start;
      }
    }
  }

  &--grid {
    .c-latest-posts__posts {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: $grid-gutter;

      > * {
        grid-column: span 12;

        @include media(">medium") {
          grid-column: span 6;
        }

        @include media(">xlarge") {
          grid-column: span 3;
        }
      }

      > *:first-child,
      > *:nth-child(2) {
        @include media(">xlarge") {
          grid-column: span 6;
        }
      }
    }
  }
}