{% if password_protected %}
  <div class="c-password-protected{{ password_protected.classes ? " " ~ password_protected.classes }} l-container--md u-text-align--center u-spacing--lg">
    {% include "@atoms/text/dek/dek.twig" with {
      "dek": {
        "text": "<p>This page is password protected. Please enter the password below to access the content.</p>",
        "classes": "c-password-protected__description"
      }
    } %}
    <form action="{{ site.link }}/wp-login.php?action=postpass" class="c-password-protected__form post-password-form o-form--inline" method="post">
      <input placeholder="Enter password" name="post_password" id="pwbox-{{ post.id }}" type="password" spellcheck="false" size="20"/>
      <button type="submit" name="Submit" value="Submit">Submit</button>
    </form>
  </div>
{% endif %}