/* ------------------------------------ *\
  $PASSWORD-PROTECTED
\* ------------------------------------ */

.c-password-protected {
  &__form {
    padding-bottom: 3px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}