
<div class="c-top-nav l-container">
  <div class="c-top-nav__contact">
    {% if options.email %}
      {% include "@atoms/links/link.twig" with {
        "link" : {
          "icon" : {
            "name" : "envelope",
          },
          "url" : "mailto:" ~ options.email,
          "text" : options.email
        }
      } %}
    {% endif %}
    {% if options.phone %}
      {% include "@atoms/links/link.twig" with {
        "link" : {
          "icon" : {
            "name" : "phone",
          },
          "url" : "mailto:" ~ options.phone,
          "text" : options.phone
        }
      } %}
    {% endif %}
  </div>
  {% include "@molecules/components/social-links/social-links.twig" with {
    "social_links": {
      "classes": "c-top-nav__social-links",
      "items": [
        {
          "name": "facebook",
          "url": options.facebook_url,
        },
        {
          "name": "instagram",
          "url": options.instagram_url
        },
        {
          "name": "twitter",
          "url": options.twitter_url
        },
        {
          "name": "linkedin",
          "url": options.linkedin_url
        },
        {
          "name": "pinterest",
          "url": options.pinterest_url
        },
        {
          "name": "youtube",
          "url": options.youtube_url
        }
      ]
    }
  } %}
</div>