/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Arquitecta';
  src: url('~@fonts-child/ArquitectaHeavy.woff2') format('woff2'),
      url('~@fonts-child/ArquitectaHeavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}