/* ------------------------------------ *\
  $HELPERS
\* ------------------------------------ */

section,
.wp-block-group {
  padding-top: var(--mc-space-super);
  padding-bottom: var(--mc-space-super);
}

.wp-block-group {
  gap: var(--mc-space-lg);
}

.wp-block-group:not(.is-layout-flex) {
  @include l-container--full;
  @include l-wrap;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 0 !important;
    max-width: var(--mc-layout-max-width-md);
  }

  img {
    margin: auto;
  }
}

.wp-block-group-is-layout-constrained {
  gap: var(--mc-space-lg);
  max-width: var(--mc-layout-max-width);
  @include u-align--center;

  & > * + * {
    margin-top: var(--mc-space-lg);
  }
}

section + section {
  margin-top: 0;
}

/**
 * Max width.
 */
.u-max-width--full {
  --mc-layout-max-width: 100%;
}

.u-max-width--wide {
  --mc-layout-max-width: var(--mc-layout-max-width-xxl);
}

/**
 * Border radius.
 */
.u-border-radius {
  border-radius: var(--mc-border-radius);
}

.u-border-radius--md {
  border-radius: var(--mc-border-radius-md);
}

.u-border-radius--none {
  border-radius: 0 !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

/**
 * Text alignment.
 */
.u-text-align--center {
  text-align: center;
}

.u-text-align--right {
  text-align: right;
}

/**
 * Text transform.
 */
.u-text-transform--uppercase {
  text-transform: uppercase;
}

/**
 * Text decoration.
 */
.u-text-decoration--underline {
  text-decoration: underline !important;
}

/**
 * Alignment.
 */
.u-align--center {
  @include u-align--center;
}

.u-align--left {
  margin-left: 0 !important;
  text-align: left;
}

.u-align--right {
  margin-right: 0 !important;
  text-align: right;
}