/* ------------------------------------ *\
  $SOCIAL LINKS
\* ------------------------------------ */

.c-social-links {
  display: flex;
  flex-direction: row;
  gap: var(--mc-space);

  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(1);
    @include o-link;

    svg {
      min-width: var(--mc-icon-md);
      width: var(--mc-icon-md);
      height: var(--mc-icon-md);
    }

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}
