.wp-block[data-align=left]>.wp-block-image {
  @include media(">medium") {
    float: left;
    width: 50%;
    max-width: 50%;
    margin-right: var(--nr-space-lg);
    margin-bottom: var(--nr-space);
  }
}

.wp-block[data-align=right]>.wp-block-image {
  @include media(">medium") {
    float: right;
    width: 50%;
    max-width: 50%;
    margin-left: var(--nr-space-lg);
    margin-bottom: var(--nr-space);
  }
}