.edit-post-visual-editor__post-title-wrapper,
.block-editor-block-list__layout {
  display: block;
  max-width: var(--nr-layout-max-width-md);
  margin: auto;
  padding: 0 var(--nr-space);
}

.editor-styles-wrapper {
  [data-mce-object="iframe"],
  iframe {
    width: 100% !important;
    max-width: 100% !important;
  }

  iframe[src*="www.youtube.com/embed/"] {
    aspect-ratio: 16 / 9;
    height: auto;
  }

  figure,
  figure img {
    max-width: 100%;

    @include media("<=medium") {
      width: 100% !important
    }
  }

  .alignnone,
  .alignnone img,
  .aligncenter,
  .aligncenter img {
    width: 100% !important;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  .alignleft {
    @include media(">medium") {
      float: left;
      width: 50% !important;
      max-width: 50% !important;
      margin-right: var(--nr-space-lg) !important;
      margin-bottom: var(--nr-space);
    }
  }

  .alignright {
    @include media(">medium") {
      float: right;
      width: 50% !important;
      max-width: 50% !important;
      margin-left: var(--nr-space-lg) !important;
      margin-bottom: var(--nr-space);
    }
  }

  .alignleft,
  .alignright {
    position: relative;

    &::after {
      content: "";
      clear: both;
    }
  }
}
