/* ------------------------------------ *\
  $STATISTICS
\* ------------------------------------ */

.c-statistics {
  &__stats {
    align-items: center;
  }

  &__columns {
    text-align: center;
  }

  &__items-container {
    display: flex;
    align-items: center;
    margin-top: var(--mc-space-lg);
    flex-direction: column;
    gap: var(--mc-space-lg);

    @include media(">medium") {
      gap: var(--mc-space-super);
      margin-top: var(--mc-space-xl);
      flex-direction: row;
      justify-content: space-around;
    }

    @include media(">large") {
      margin-left: var(--mc-space-super);
      margin-top: 0;
      justify-content: space-between;
    }
  }

  &__stats-item {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__stats-value {
    color: var(--mc-color-content-primary-default);
  }
}
