<article class="c-content-404{{ content.classes ? ' ' ~ content.classes }} u-spacing--xxl">
  {% include "@organisms/sections/headers/page-header.twig" with {
    "page_header": {
      "kicker": "Page Not Found",
      "title": "Uh-oh! Looks like you're off the beaten path.",
      "classes": "c-content-404__header"
    }
  } %}
  {% include "@atoms/text/rich-text/rich-text.twig" with {
    "rich_text": {
      "text": "<p>Sorry, we couldn't find the page you're looking for. It might have moved, been deleted, or perhaps the URL was mistyped. But don't worry! You can try searching for what you need below or head back to the <a href='/'>homepage</a> to explore other content.</p>",
      "classes": "c-content-404__body l-container--md u-text-align--center",
      "includes": [
        { item: "@molecules/forms/search-form/search-form.twig" }
      ]
    }
  } %}
</article>
